
<form action="/" method="post">
    <div class="textbox">
        <label id="name" for="name">Recipe name:</label>
        <input type="text" id="name" name="recipe_name">
    </div>
    <div class="textbox">
        <label ide="name" for="mail">Description:</label>
        <textarea id="msg" name="recipe_description"></textarea>
    </div>
        <div class="button">
         <button type="submit">Create your recipe</button>
    </div>
</form>
